
/* google fonts here  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');



 *{
     box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 }



/* header part */

.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* logo style............ */
.logo-part{
    display: flex;
    align-items:center;
    cursor: pointer;
    
}
.logo img{
    width: 100px;
    height: 100px;

    
}
.logo-title{
    margin-left: -30px;
    transition: transform 1s;
}
.logo-title a{
    text-decoration: none;
    color: black;
}
.logo-title:hover{
    transform: scale(1.05);
}
/* logo style end */

/* ========================<<<<<<<____>>>>>>>>>>====================== */

/* nav item style */
.nav-link{
    display: flex;
}

ul li a{
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
    color: black;
    font-weight: 700;
}
li{
    list-style: none;
    transition: transform 1s;
}
.nav-link li:hover{
    transform: scale(1.09);
}

/* nav item style */
/* ========================<<<<<<<____>>>>>>>>>>====================== */

/* home content style ........................... */

.home-content{
    display: flex;
    margin-left: 50px;
    align-items: center;
}
h1{
    font-size: 40px;
    color: black;
    font-weight: 800;
}

.introduction{
    font-size: 20px;

}
.btn{
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
    border: 2px solid rgb(91, 54, 98);
    border-radius: 10px;
    padding: 4px;
    color: black;
    margin-left: 10px;
    transition: transform 1s;
}

.tim-cook img{
    width: 50%;
    border-radius: 49px;
    margin-left: 300px;
}


/* products-logo style  */

.grid-title{
    text-align: center;
    font-size: 30px;
    padding-top: 100px;
    margin-bottom: -100px;
}


.all-brand-products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    padding: 140px;
    overflow: hidden;
}
.brand:hover{
    transform: scale(1.05)
}

.all-products-logo{
    display: flex;
    align-self: center;
    margin-top: 70px;
    margin-left: 70px;
    margin-right: 100px;
    justify-content: space-around;
    cursor: pointer;
}

.product-logo img{
    width: 100px;

}
.information{
    margin-left: 10px;
}
.ratting-star{
    color:coral;
    font-size: 10px;
}
.ratting-point{
    color: black;
    font-size: 15px;
    font-weight: 800;
}

.product-title h2{
    font-size: 15px;
    font-weight: 800;
    text-align: center;
}

/* products logo style end  */

/* logo effect */
.effect{
    overflow: hidden;
    transition: transform 1s;
}
.effect:hover{
    transform: scale(1.3);
}



/* mac-brand- */

.brand-photo img{
    width: 100%;


}
.brand{
    border-left: 3px solid steelblue;
    border-bottom:3px solid steelblue ;
    border-radius: 7% / 8%;
    box-shadow:-1px 3px 5px rgb(54, 30, 30);
    overflow: hidden;
    transition: transform 1s;
    cursor: pointer;
    
}
/* first section end  */

.left-site a{
    text-decoration: none;
}
.left-site p{
    font-size: 20px;
    font-weight: 800;
    justify-content: space-between;  
}


/* extra section  */
.extra-section{
    display: flex;
    align-items: center;
    padding: 100px;
}
.chip-photo{
    padding: 20px;
}
.chip-photo img{
    width: 90%;
    border-radius: 30px;
}
.chip-info{
    width: 100%;
}
.chip-info p{
    font-weight: 700;
    word-spacing: 7px;
}


/* foote style   */

footer{
    background-color:rgb(5, 15, 26);
    text-align: center;
}
.footer-info{
    color: rgb(240, 227, 227);
}
.footer-info h5{
    font-weight: 300;
}
.social-button ul{
    display:flex;
    justify-content: center;
}
.social-button ul li a{
    color: #fff;
}
.last-section{
    padding: 10px;
}



/* media query style */

/* mobile devices */

@media only screen and(max-width:576px){

    .home-content{
        display: flex;
        flex-wrap: wrap;
        margin-left: 50px;
        align-items: center;
    
    }
    .nav-link ul li{
        visibility: hidden;
    }
    #for-media{
        display: none;
    }
}